@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    int order = 1;
}

<a asp-action="Create" asp-controller="Product" class="btn btn-outline-success">Create</a>
<table class="table text-center table-bordered my-4">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(order++)</td>
                <td><img width="50" src="~/assets/imgs/@item.Image" /></td>
                <td>@item.Name</td>
                <td>@item.Desc</td>
                <td><a asp-action="Edit" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-warning">Edit</a></td>
                <td>
                    <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

